@font-face {
    font-family: 'handwritten-heading';
    src: url('./fonts/Bobogo.otf');
    font-display: swap;
}
@font-face {
    font-family: 'handwritten-text';
    src: url('./fonts/Bobogo.otf');
    font-display: swap;
}
@font-face {
    font-family: 'sans';
    src: url('./fonts/GeosansLight.ttf');
    font-display: swap;
}
body{
    padding: 20px 20px 50px 20px;
    font-family: 'sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
body.light{
  --s: 81px; /* control the size*/
  --c1: #ededed;
  --c2: #f0ebeb;
  --c3: #f0f0f0;
  
  --p:at 45% 40%,#0000 75%,;
  --g1:conic-gradient(var(--p) var(--c1) 0);
  --g2:conic-gradient(var(--p) var(--c2) 0);
  background:
    var(--g1),var(--g2) calc(2*var(--s)) 0,
    var(--g2) calc(3*var(--s)) var(--s),
    var(--g1) var(--s) var(--s) var(--c3);
  background-size: calc(4*var(--s)) calc(2*var(--s));
}
body.dark{
  --s: 81px; /* control the size*/
  --c1: #1d1b1a;
  --c2: #1a1818;
  --c3: #1e1e1e;
  
  --p:at 45% 40%,#0000 75%,;
  --g1:conic-gradient(var(--p) var(--c1) 0);
  --g2:conic-gradient(var(--p) var(--c2) 0);
  background:
    var(--g1),var(--g2) calc(2*var(--s)) 0,
    var(--g2) calc(3*var(--s)) var(--s),
    var(--g1) var(--s) var(--s) var(--c3);
  background-size: calc(4*var(--s)) calc(2*var(--s));
  color: rgb(221, 221, 221);
}
body.sepia{
  --s: 81px; /* control the size*/
  --c1: #f3e5d7;
  --c2: #f3e2d7;
  --c3: #f4e9dd;
  
  --p:at 45% 40%,#0000 75%,;
  --g1:conic-gradient(var(--p) var(--c1) 0);
  --g2:conic-gradient(var(--p) var(--c2) 0);
  background:
    var(--g1),var(--g2) calc(2*var(--s)) 0,
    var(--g2) calc(3*var(--s)) var(--s),
    var(--g1) var(--s) var(--s) var(--c3);
  background-size: calc(4*var(--s)) calc(2*var(--s));
  color: #4f3b26;
}
body.light a{
    color:rgb(0, 68, 95);
}
body.dark a{
    color:rgb(10, 175, 240);
}
body.sepia a{
    color:#2c264f;
}
.centered-text{
    text-align: center;
}
.hidden{
    display: none;
}
#main-heading-section{
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin: auto;
}
#main-heading-section h1{
    font-family: 'handwritten-heading', serif;
    font-size: 44px;
    margin-bottom: 5px;
}
#main-heading-section p{
    text-align: right;
    font-size: 30px;
    font-family: 'handwritten-text', serif;
    margin-top: 5px;
}
body.light #main-heading-section{
    text-shadow: 
    0px 0px 3px rgb(255, 142, 178), 
    0px 0px 7px rgb(253, 179, 202),
    0px 0px 11px white;
}
body.dark #main-heading-section{
    text-shadow: 
    0px 0px 3px rgb(250, 27, 98), 
    0px 0px 7px rgb(102, 27, 51),
    0px 0px 11px rgb(0, 0, 0);
}
body.sepia #main-heading-section{
    text-shadow: 
    0px 0px 3px #e6cdb6, 
    0px 0px 7px #dccec4,
    0px 0px 11px #ded5c9;
}
div.book-info{
    max-width: 500px;
    margin: 50px auto;
    padding: 5px 20px 10px 20px;
}
div.book-info h2{
    margin-bottom: 0;
}
div.book-info img{
    display: block;
    margin: auto;
}
body.light div.book-info{
    color: #272727;
    box-shadow:
    0 0 10px 6px rgba(0, 255, 153, 0.3),
    0 0 14px 9px rgba(115, 0, 255, 0.3);
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
}
body.dark div.book-info{
    color: #e8e8e8;
    box-shadow:
    0 0 10px 6px rgba(0, 255, 106, 0.5),
    0 0 14px 9px rgba(179, 0, 255, 0.5);
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
}
body.sepia div.book-info{
    color: #4f3b26;
    box-shadow:
    0 0 10px 6px #dbc4b7;
    background-color: #eadbcb;
    border-radius: 20px;
}
.see-more, .see-less{
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}
#bio{
    display: flex;
    flex-wrap: nowrap;
    max-width: 700px;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}
body.light #bio p{
    box-shadow:
    0 0 10px 6px rgba(0, 187, 255, 0.4),
    0 0 14px 9px rgba(255, 89, 0, 0.3);
    background: rgb(240, 239, 239);
    color: #272727;
}
body.light #bio img{
    box-shadow:
    0 0 10px 6px rgba(0, 187, 255, 0.4),
    0 0 14px 9px rgba(255, 89, 0, 0.3);
    border: solid rgb(240, 239, 239) 10px;
}
body.dark #bio p{
    box-shadow:
    0 0 10px 6px rgba(0, 229, 255, 0.4),
    0 0 14px 9px rgba(255, 174, 0, 0.3);
    background: rgb(49, 49, 49);
    color: white;
}
body.dark #bio img{
    box-shadow:
    0 0 10px 6px rgba(0, 229, 255, 0.4),
    0 0 14px 9px rgba(255, 174, 0, 0.3);
    border: solid rgb(49, 49, 49), 10px;
}
body.sepia #bio img{
    box-shadow:
    0 0 10px 6px #dbc4b7;
    border: solid #eadbcb 10px;
} 
body.sepia #bio p{
    box-shadow:
    0 0 10px 6px #dbc4b7;
    background: #eadbcb;
    color: #4f3b26;
}
#bio img{
    border-radius: 50%;
    margin-right: 20px;
}
#bio p{
    padding: 10px;
    border-radius: 20px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}
footer.light{
    background-image: linear-gradient(rgb(247, 217, 214), rgb(249, 238, 223) 30%, rgb(247, 214, 222));
    box-shadow: 0px -4px 3px rgba(247, 214, 222, 0.75)
}
footer.dark{
    background-image: linear-gradient(rgb(255, 50, 102), rgb(252, 155, 114) 30%, rgb(202, 1, 71));
    box-shadow: 0px -4px 3px rgba(255, 50, 102, 0.75)
}
footer.sepia{
    background-image: linear-gradient(rgb(224, 169, 153), rgb(241, 186, 163) 30%, rgb(228, 134, 128));
    box-shadow: 0px -4px 3px rgba(224, 169, 153, 0.75)
}
#mode-selector{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.selection{
    height: 40px;
    cursor: pointer;
}
.selected-glasses{
    transform: rotate(-10deg);
}
@media screen and (max-width: 410px) {
  #bio{
    flex-wrap: wrap;
  }
  div.book-info{
    padding: 5px 10px 10px 10px;
  }
}